<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Next Move - Escuela de Ajedrez</title>
        <link rel="stylesheet" href="../styles/estilos.css">
    </head>

    <body>

        <!-- NAV -->
        <nav class="nav">
            <div class="nav-izq">
                <a href="indice.html"><h1>NEXT MOVE</h1></a>
                <p class="nav-subtitulo">ESCUELA DE AJEDREZ AVANZADO</p>
            </div>
            <div class="nav-dcha">
                <a href="../views/Programas.html">Programas</a>
                <a href="../views/Recursos.html">Recursos</a>
                <a href="../views/Contacto.html">Contacto</a>
            </div>
        </nav>

        <!--CONTENIDO PRINCIPAL-->

        <div class="programas">
            <div class="programa1">
                <h1>01</h1>
                <h2>Fundamentos Competitivos</h2>
                <h3>Dirigido a jugadores de ELO 1000-1600</h3>
                <h4>Aperturas básicas</h4>
                <h5>Finales de peones y torres</h5>
                <h6>Táctica combinatoria</h6>
            
            </div>

            <div class="programa2">
                <h1>02</h1>
                <h2>Desarrollo Avanzado</h2>
                <h3>Dirigido a jugadores de ELO 1600-2000</h3>
                <h4>Estructuras de peones</h4>
                <h5>Juego posicional</h5>
                <h6>Preparación de aperturas personalizadas</h6>

            </div>

            <div class="programa3">
                <h1>03</h1>
                <h2>Máximo nivel</h2>
                <h3>Dirigido a jugadores de ELO 2000+</h3>
                <h4>Preparación para torneos FIDE</h4>
                <h5>Análisis con motor</h5>
                <h6>Psicología competitiva</h6>
            
            </div>

        </div>

        <!--FOOTER-->
        <footer>
            © 2026 Next Move. Todos los derechos reservados.
        </footer>
    </body>
</html>