<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Next Move - Escuela de Ajedrez</title>
        <link rel="stylesheet" href="../styles/estilos.css">
    </head>

    <body>
        <!-- NAV -->
        <nav class="nav">
            <div class="nav-izq">
                <a href="indice.html"><h1>NEXT MOVE</h1></a>
                <p class="nav-subtitulo">ESCUELA DE AJEDREZ AVANZADO</p>
            </div>
            <div class="nav-dcha">
                <a href="../views/Programas.html">Programas</a>
                <a href="../views/Recursos.html">Recursos</a>
                <a href="../views/Contacto.html">Contacto</a>
            </div>
        </nav>
    

        <div class="recursos">
            <div class="recurso1">
                <h1>ARTÍCULOS</h1>
                <h2>Mejora tu comprensión con análisis escritos por nuestros entrenadores.</h2>
            </div>

            <div class="recurso2">
                <h1>EJERCICIOS</h1>
                <h2>Problemas seleccionados para entrenar tu visión táctica y precisión en el cálculo.</h2>
            </div>

            <div class="recurso3">
                <h1>PARTIDAS</h1>
                <h2>Análisis de partidas legendarias comentadas para extraer lecciones clave.</h2>
            </div>

        </div>

        <!--FOOTER-->
        <footer>
            © 2026 Next Move. Todos los derechos reservados.
        </footer>
    </body>
</html>